/*Jangan edit modules/_sprite.scss karena filenya digenerate secara otomatis oleh Gulp.
Silahkan edit gulp/templates/sprite*/

{{#shapes}}
{{#first}}
  .icon {
    background-image: url('../images/sprite/css/{{{sprite}}}');
  }
  .no-svg .icon {
    background-image: url('../images/sprite/css/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}');
  }
{{/first}}

  .icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-position: {{position.relative.xy}};
  }
{{/shapes}}